:root{
  --neutralGray: rgb(139,139,139);
  --alertRed: #e57878;
  --neutralGreen: #58af9b;
  --lightGreen: #78e5d5;
  --alertOrange: orange;
  --white: white;
  --lightGray: #ecf0f1;
}

.nullAlert{
  color: orange;
  font-size: 15px;
  font-weight: bold;
}