@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.rollScreenContainer{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: auto;
  background-color: #ecf0f1;
}