@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

.photoContainer{
  margin: 25px;
  width: 100%;
  border-radius: 15px;
  background-color: #fff;
  /*border:1px solid var(--neutralGreen);*/
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.photoHeader{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}

.teamLink {
  text-align: left;
  width: 200px;
  border: none;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Open Sans';
  font-size: 15px;
  font-weight: bold;
  color: var(--neutralGreen);
  cursor: pointer;
}

.photoHeader div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color:var(--neutralGray);
}

.photoImg {
  width: 100%;
  height: 100%; 
  object-fit: contain;
  padding-bottom: 10px;
  cursor: pointer;
}

.photoModal {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  left: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ececec;
}

.closeModal{
  position: absolute;
  left: 5%;
  top: 5%;
  cursor: pointer;
}

.modalImg{
  width: auto;
  height: auto;
  max-height: 80%;
  border: 2px solid #ececec;
}

.photoModal div{
  display: flex;
  width: 300px;
  justify-content: space-between;
  flex-direction: column;
  color:var(--neutralGray);
  margin-bottom: 5px;
}

.photoModal div .teamLink {
  text-align: center;
  width: 300px;
}

.photoModal div .themeName {
  text-align: center;
  width: 300px;
  color: #ececec;
}

@media screen and (max-width: 1040px){
  .modalImg{
    max-width: 90vw;
  }
}